
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">User research prototype</span>
      <h1 class="govuk-heading-xl">GOV.UK One Login service header and dashboard</h1>
      <p class="govuk-body-l">Round 1: 12 and 13 October 2022</p>
      <p class="govuk-body">Go to the <a href="https://docs.google.com/document/d/1DZ4u9d_oZrE36HVFFryc8nHsCWWLg59hhDgX_TBCCIg/edit" class="govuk-link">round 1 notes document</a>.</p>
      <p></p>


      <h2 class="govuk-heading-m">Task 1</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Task 1",
        href: "/notify/reconfirmation"
      }) }}

      <h2 class="govuk-heading-m">Task 2</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Task 2",
        href: "/find-a-lost-teacher-reference-number/start"
      }) }}

    </div>
  </div>

{% endblock %}
